# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.vscode/
public/respaldos_20151017/
public/css/node_modules/
public/importadorCios/
log.txt
*.pdf
phpxl*
public/Logs/*
config/*
public/images/qr/*
avatares/*
node_modules/*
frontend/node_modules/*
modules/src-js/node_modules/*
modules/dist/*
dist/*
modules/node_modules/*
frontend/node_modules/*
frontend_cognito_basico/node_modules/*
frontend_cognito_botones_refresh_logout/node_modules/*