<section class="contentSectionApp_v3 uk-margin-top" style="{{COLOR_BORDE_SECCION}}">
  <div class="ed-container">
    <div class="ed-item base-100 no-padding">
      <span class="txtTitleSectionLayoutApp_v3 fuenteTxtTitleSectionLayoutApp_v3 {{CLASE_COLOR_FONDO_SECCION}}">{{TITULO_SECTION}}<span></span></span>
      <hr class="uk-margin-remove-top" style="{{COLOR_BORDE_SECCION}}">
    </div>
    <div class="ed-item base-100 uk-margin-bottom">
      <article class="uk-comment uk-comment-primary uk-border-rounded {{CLASE_FONDO_MENSAJE}}">
        <header class="uk-comment-header">
          <div class="uk-grid-medium uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <img class="uk-comment-avatar" src="{{URL_FOTO_PERFIL}}" width="60" height="60" alt="">
            </div>
            <div class="uk-width-expand">
              <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">{{AUTOR}}</a></h4>
              <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                <li><a href="#">---</a></li>																	
              </ul>
            </div>
          </div>
        </header>
        <div class="uk-comment-body">
          <div class="ed-container mensajesAppPlattform">
            {{MENSAJE}}
          </div>
        </div>
      </article>
    </div>
  </div>
</section>